/* COLORS */
/* Palette */
$black: 		#1A1A1A;
$gray: 		    #666666;
$white:         #F2F2F2;
$light-gray:    #CCCCCC;
$blue: 	        #4141B0;
$red: 	        #E82020;

/* Variable to foundation settings */
$link-color:            $red;
$primary-color:         $blue;
$secondary-color:       $red;
$body-background: 		$light-gray;
$container-background: 	$white;

/* Opacities */
$opacity-1: 0.2;
$opacity-2: 0.5;
$opacity-3: 0.8;


/* FONTS */
/* Font families */
$fonts-url:           	'https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700';
$default-font-family:	'Lato', sans-serif;
$headings-font-family: 	'Roboto', sans-serif;

/* Font weights */
$normal-fw: 400;
$bold-fw:   700;
$light-fw:	300;

/* VERTICAL RHYTHM */
$bfs:     	16px;
$spacing: 	0.75;
$scale:   	1.25;
$blh:     	$bfs * $spacing;

/* LAYOUT */
$text-max-width: $bfs * 30;

/* BREAK POINTS */
$bp-1:  500px;