<row class="{{class}}">
    <columns>
        <ul>
            <li><img src="{{img1}}" alt="{{alt1}}" width="{{width1}}" height="{{height1}}"> {{text1}}</li>
            <spacer size="24"></spacer>
            <li><img src="{{img2}}" alt="{{alt2}}" width="{{width2}}" height="{{height2}}"> {{text2}}</li>
        </ul>
    </columns>
    <columns>
        <ul>
            <li><img src="{{img3}}" alt="{{alt3}}" width="{{width3}}" height="{{height3}}"> {{text3}}</li>
            <spacer size="24"></spacer>
            <li><img src="{{img4}}" alt="{{alt4}}" width="{{width4}}" height="{{height4}}"> {{text4}}</li>
        </ul>
    </columns>
</row>