<row>
    <columns>
        {{>paragraph
            class="cta-paragraph"
            text="Compra Herbal Essences bio:renew"
        }}
        {{>button-rounded-center
            class="button"
            bgcolor="#00427f"
            value="¡Comprar ahora!"
            href="https://www.superama.com.mx/catalogo/d-higiene-personal-y-belleza/f-cuidado-del-cabello/l-shampoo/shampoo-herbal-essences-con-miel-de-manuka-y-bourbon-400-ml/0750043513957?utm_source=mtz_procter_&_gamble&utm_medium=email&utm_campaign=mtz_procter_rev_herbal_influencers_jueves0613&utm_content=email&utm_term=email"
        }}
    </columns>
</row>