{{>h3
    text="¿Qué necesitas para hacerlo?"
    class="centered"
}}

{{>2x2-list
    img1="http://bra.comunicacaodapg.com.br/imgproxy/img/4006645744/he-influenciadoras-pasos-icono-verde.png"
    alt1="Icono hoja"
    width1="23"
    height1="9"
    text1="Una tenaza o plancha"

    img2="http://bra.comunicacaodapg.com.br/imgproxy/img/4006645742/he-influenciadoras-pasos-icono-naranja.png"
    alt2="Icono hoja"
    width2="23"
    height2="9"
    text2="Espuma para peinar de Herbal Essences"

    img3="http://bra.comunicacaodapg.com.br/imgproxy/img/4006645741/he-influenciadoras-pasos-icono-morado.png"
    alt3="Icono hoja"
    width3="23"
    height3="9"
    text3="Protector de calor para el pelo"

    img4="http://bra.comunicacaodapg.com.br/imgproxy/img/4006645743/he-influenciadoras-pasos-icono-rosado.png"
    alt4="Icono hoja"
    width4="23"
    height4="9"
    text4="Un peine"

    class="lista"
}}