<row class="opt-out">
    <columns>
        <spacer size="24"></spacer>
        <p>Estás recibiendo este mail porque te registraste en P&G para recibir ofertas e información como ésta. Por favor no contestes este mensaje, ha sido generado por una cuenta no monitoreada. Si ya no quieres recibir correos de P&G, da <a href="https://unsubscribe.pg.com/privacy/optsengine/es_MX/cot_std_brandopts.do?brand=pgbrands&sub=9999">click aquí</a>. Copyright P&G 2018.</p>
        <spacer size="24"></spacer>
    </columns>
</row>