<row>
    <columns>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ratione eos nulla excepturi odit eligendi, veniam animi cumque vel alias perspiciatis vitae ad architecto! Consequatur nesciunt ipsam voluptas, magni tempora!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ad beatae ducimus aliquid dolore. <a href="#">Link</a> Repellat obcaecati dolorem quidem sequi sed esse dolor dignissimos deleniti nostrum vel! Mollitia culpa, qui distinctio.</p>
    </columns>
</row>