{{>bg--col-h3-p--col-img
    bg="http://bra.comunicacaodapg.com.br/imgproxy/img/4006639603/he-influenciadoras-pasos-hoja.jpg"
    bgcolor="#ffffff"
    bgwidth="600"
    bgheight="301"
    
    title="PASO 1"
    text1="Lava tu pelo con"
    strong1="Herbal Essences bio:renew"
    text2="para que quede nutrido con ingredientes"
    strong2="90% naturales."

    img="http://bra.comunicacaodapg.com.br/imgproxy/img/4006639605/he-influenciadoras-pasos-paso1.jpg"
    alt="Chantal secandose el pelo"
    imgwidth="281"
    imgheight="266"

    spacer="24"

    class="paso paso-hoja"
}}

{{>bg--col-img--col-h3-p
    bg="http://bra.comunicacaodapg.com.br/imgproxy/img/4006639601/he-influenciadoras-pasos-gotas.jpg"
    bgcolor="#ffffff"
    bgwidth="600"
    bgheight="301"
    
    title="PASO 2"
    text1="Ahora que tu pelo está limpio y"
    strong1="huele a tu fraganciaa favorita,"
    text2="sécalo un poco. Divide el pelo con tu peine, luego cepíllalo para desenredarlo y usa la pistola para secarlo perfectamente."
    strong2="Recomendación:"
    text3="Aplícate un poco de protector de calor en tu pelo, antes de usar la tenaza para protegerlo."

    img="http://bra.comunicacaodapg.com.br/imgproxy/img/4006639606/he-influenciadoras-pasos-paso2.jpg"
    alt="Chantal peinandose"
    imgwidth="281"
    imgheight="266"

    spacer="12"

    class="paso paso-gota"
}}

<spacer size="24"></spacer>

{{>bg--col-h3-p--col-img
    bg="http://bra.comunicacaodapg.com.br/imgproxy/img/4006639603/he-influenciadoras-pasos-hoja.jpg"
    bgcolor="#ffffff"
    bgwidth="600"
    bgheight="301"
    
    title="PASO 3"
    text1="Llegó el momento de conseguir unas"
    strong1="ondas espectaculares."
    text2="Toma tu tenaza y ponla hacia abajo, separa un mechón, abre la tenaza y enrolla el pelo. Cierra, aguanta unos segundos hasta que sientas el calor y suelta el mechón. Ahora repite este proceso con todo tu pelo."

    img="http://bra.comunicacaodapg.com.br/imgproxy/img/4006639607/he-influenciadoras-pasos-paso3.jpg"
    alt="Chantal secandose el pelo"
    imgwidth="281"
    imgheight="266"

    spacer="0"

    class="paso paso-hoja"
}}

<spacer size="24"></spacer>

{{>bg--col-img--col-h3-p
    bg="http://bra.comunicacaodapg.com.br/imgproxy/img/4006639601/he-influenciadoras-pasos-gotas.jpg"
    bgcolor="#ffffff"
    bgwidth="600"
    bgheight="301"
    
    title="PASO 4"
    text1="Un tip para que este peinado dure todo el día: aplica la "
    strong1="espuma moderadora de Herbal Essences, "
    text2="que además tiene una fragancia deliciosa. Usa poquita y encoge tu pelo dándole forma a las ondas para que duren más."

    img="http://bra.comunicacaodapg.com.br/imgproxy/img/4006639608/he-influenciadoras-pasos-paso4.jpg"
    alt="Chantal aplicandose espuma modeladora"
    imgwidth="281"
    imgheight="266"

    spacer="12"

    class="paso paso-gota"
}}

<spacer size="24"></spacer>

{{>bg--col-h3-p--col-img
    bg="http://bra.comunicacaodapg.com.br/imgproxy/img/4006639603/he-influenciadoras-pasos-hoja.jpg"
    bgcolor="#ffffff"
    bgwidth="600"
    bgheight="301"
    
    title="PASO 5"
    text1="Lo último que vas a hacer es despeinar un poco tus ondas con la ayuda de tus manos para que queden"
    strong1="más relajadas y naturales."

    img="http://bra.comunicacaodapg.com.br/imgproxy/img/4006639609/he-influenciadoras-pasos-paso5.jpg"
    alt="Chantal secandose el pelo"
    imgwidth="281"
    imgheight="266"

    spacer="24"

    class="paso paso-hoja"
}}