<div class="{{class}}">
    &nbsp;&nbsp;<a href="{{href1}}"><img src="{{img1}}" alt="{{alt1}}" width="{{width1}}" height="{{height1}}"></a>&nbsp;&nbsp;
    &nbsp;&nbsp;<a href="{{href2}}"><img src="{{img2}}" alt="{{alt2}}" width="{{width2}}" height="{{height2}}"></a>&nbsp;&nbsp;
    &nbsp;&nbsp;<a href="{{href3}}"><img src="{{img3}}" alt="{{alt3}}" width="{{width3}}" height="{{height3}}"></a>&nbsp;&nbsp;
    &nbsp;&nbsp;<a href="{{href4}}"><img src="{{img4}}" alt="{{alt4}}" width="{{width4}}" height="{{height4}}"></a>&nbsp;&nbsp;
</div>